body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #00000058;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #00000058;
    color: white;
}

main {
    flex: 1;
    padding-top: 70px; /* Space for header */
    padding-bottom: 60px; /* Space for footer */
    overflow-y: auto;
}

.content {
    max-width: 800px;
    margin: auto;
    z-index: 1; /* Ensure content is above the blurred background */
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Slightly transparent background for better readability */
    padding: 20px;
    border-radius: 10px;
}
